{% load static %}
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <html lang="en"></html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
    <link rel="stylesheet" href="{% static "css/adaptive.css" %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <div  class="icon" ></div>

            <div class="chizu"> </div>
    
            <p class="idn">KRIMINALISTIKA</p>
    
            
            <button class="image-button"></button>
            <script src="{% static "js/script.js" %}"></script>
            
        </header>
        <div class="contain">
            <div class="img">
                <div class="slider">
                    <div class="slide">
                      <img id="qwg" src="{{ item.image.url }}"  alt="Slide 1">
                    </div>
                    {% comment %} <div class="slide">
                      <img id="qwg1" src="/png/pngegg.png" alt="Slide 2">
                    </div> {% endcomment %}
                </div>
                {% comment %} <button class="prev"><img src="png/left.png" alt=""></button>
                <button class="next"><img src="png/right.png" alt=""></button>
                   {% endcomment %}
            </div>
            <div class="malumot">
                <p id="puz"><img id="uz" src="{% static "images/all/uzbekistan.png"%}" alt=""><strong>{{item.name}}</strong> </p>
                <div class="textlar" length=300px height=300px >
                    <p>{{item.text | truncatechars:2000 }}</p>
                </div>
               
                <div class="btnall">
                    <div id="showButton" class="btnb1"><img id="qr3" src="{% static "images/photo/headphones.png"%}" alt="">
                        <p class="closeaudio">Close</p>
                    </div>
                    {% comment %} Audio joylashgan {% endcomment %}
                    <div class="audio">
                        <p class="close2"></p>
                    </div>
                    <div class="btnb2"><img id="qr2" src="{% static "/photo/play-button.png" %}" alt=""></div>
                    {% comment %} Video joylashgan {% endcomment %}
                    <div class="clip">
                        <video src="{{ item.video.url }}" controls></video>
                        <b class="close">Close</b>
                    </div>
                    {% comment %} Qr_code joylashgan {% endcomment %}
                    <div class="btnb3"><img id="qr1" src="{{ qrcode }}" alt=""></div>
                </div>
            </div>   
        </div>
    </div>

    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let knopko = document.querySelector('.btnb2');
    let clip = document.querySelector('.clip');
    let close1 = document.querySelector('.close');
    let video = document.querySelector('video');

    knopko.onclick = function(){
        knopko.classList.add('active');
        console.log("hey");
        clip.classList.add('active');
        video.play()
        video.currentTime = 0;
    }
    close1.onclick = function(){
        knopko.classList.remove('active');
        clip.classList.remove('active');
        console.log("hey");
        video.pause();
    }
    
    $(document).ready(function(){
    var currentIndex = 0;
    var slides = $('.slide');
    var totalSlides = slides.length;

    function showSlide(index) {
    slides.hide();
    slides.eq(index).show();
    }

    showSlide(currentIndex);
   
    function qwe(){
        currentIndex = (currentIndex + 1) % totalSlides;
        showSlide(currentIndex);
    }
    setInterval(qwe, 3000);

    $('.next').click(function(){
    currentIndex = (currentIndex + 1) % totalSlides;
    showSlide(currentIndex);
    });

    $('.prev').click(function (){
    currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
    showSlide(currentIndex);
    });
});

let naush = document.querySelector('.btnb1');

let close2 = document.querySelector('.close2');
naush.onclick = function(){
    naush.classList.add('active');
    console.log("hey");
}
close2.onclick = function(){
    naush.classList.remove('active');
    naush.pause();
}
let mus = document.querySelector('.audio');
let musclose = document.querySelector('.closeaudio');

musclose.onclick = function(){
    mus.classList.remove('active');
}


document.getElementById('showButton').addEventListener('click', function() {
    mus.classList.add('active');
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>